.flagsBox {
    height:20%;
    width: 20%;
    border: 1px solid black;
}
.card-header{
    background-color:  #ff920a ;
}
.body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.displayFlex {
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
}